In [1]:
import requests
from pprint import PrettyPrinter
pp = PrettyPrinter()
import pandas as pd

In [2]:
apiKey = 'dcdc15a7'

In [38]:
apikey_tmdb = '85378515d04f91ab8e73cb54a7a934f6'

In [42]:
sample_df = pd.DataFrame()
for page in range(1,384):
    url = f"https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page={page}&sort_by=revenue.desc&with_original_language=hi"

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4NTM3ODUxNWQwNGY5MWFiOGU3M2NiNTRhN2E5MzRmNiIsInN1YiI6IjY2MDVjMTdmZjkxODNhMDE2NjQ2YTMyOSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.GsJ516ZazdseGR2m7VAThvO7S52zBhMdpdp_2S3wtzw"
    }

    response = requests.get(url, headers=headers).json()
    #pp.pprint(response)
    movie_list =pd.DataFrame.from_dict(response['results'])
    sample_df = pd.concat([sample_df,movie_list])
    

#pp.pprint(response)
sample_df.shape

(7660, 14)

In [44]:
sample_df.head(1)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5qjbu7po6eqLNd4kUPAyIpFRwQK.jpg,"[18, 10751, 35, 28]",360814,hi,दंगल,Dangal is an extraordinary true story based on...,24.675,/cJRPOLEexI7qp2DKtFfCh7YaaUG.jpg,2016-12-21,Dangal,False,7.922,908

In [52]:
sample_df.reset_index(inplace=True)

In [54]:
sample_df['id'][0]

360814

In [69]:
movie_details = pd.DataFrame()
for i in range(sample_df.shape[0]):
    print(i)
    film_revenue = requests.get(f"https://api.themoviedb.org/3/movie/{str(sample_df['id'][i])}?api_key={apikey_tmdb}").json()
    for key,value in list(film_revenue.items()):
        if(type(value))==list:
            del film_revenue[key]
    movie_detail =pd.DataFrame.from_dict(film_revenue,orient='index')
    movie_details = pd.concat([movie_details,movie_detail])

movie_details.shape

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453

In [36]:
sample_df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/5qjbu7po6eqLNd4kUPAyIpFRwQK.jpg,"[18, 10751, 35, 28]",360814,hi,दंगल,Dangal is an extraordinary true story based on...,24.675,/cJRPOLEexI7qp2DKtFfCh7YaaUG.jpg,2016-12-21,Dangal,False,7.922,908
1,False,/6BDBY1KhGHznQfCjHdGyIwNp30x.jpg,"[18, 10749]",132316,hi,जब तक है जान,A bomb disposal expert becomes bitter and lone...,14.221,/1TlzJZrzUlaC95Noqt3oMoxQxCu.jpg,2012-11-13,Jab Tak Hai Jaan,False,7.100,238
2,False,/z4k7b66jAHP8sQbEahxss6Ct8BW.jpg,"[18, 35, 10749]",61202,hi,ज़िन्दगी ना मिलेगी दोबारा,Three friends who were inseparable in childhoo...,17.954,/hKO9O715wYxjkQSEv47giCYcyO8.jpg,2011-07-15,Zindagi Na Milegi Dobara,False,7.600,326
3,False,/n9QCm8uagvmXH476u5qFQsW8HkU.jpg,"[35, 18, 28]",348892,hi,बजरंगी भाईजान,A young mute girl from Pakistan loses herself ...,15.267,/rNfToRJw35h7a4y6HXGRgfkLvdc.jpg,2015-07-17,Bajrangi Bhaijaan,False,7.800,451
4,False,/yrQTyiJpki9dCuIU0bGhGXBu7Zh.jpg,"[18, 10402]",441889,hi,सीक्रेट सुपरस्टार,A talented teenage singer-songwriter living am...,9.379,/fkTeziNtc0uwE899uI1hlMOEdZL.jpg,2017-10-19,Secret Superstar,False,7.300,154

In [18]:

response = requests.get(f"http://www.omdbapi.com/?apikey={apiKey}&t=jawan&plot=full").json()
pp.pprint(response)

{'Actors': 'Shah Rukh Khan, Nayanthara, Vijay Sethupathi',
 'Awards': '17 wins & 41 nominations',
 'BoxOffice': '$15,198,530',
 'Country': 'India',
 'DVD': 'N/A',
 'Director': 'Atlee',
 'Genre': 'Action, Drama, Musical',
 'Language': 'Hindi',
 'Metascore': 'N/A',
 'Plot': 'A prison warden recruits inmates to commit outrageous crimes that '
         'shed light on corruption and injustice - and that lead him to an '
         'unexpected reunion.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BOWI5NmU3NTUtOTZiMS00YzA1LThlYTktNDJjYTU5NDFiMDUxXkEyXkFqcGdeQXVyMTUzNjEwNjM2._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'Not Rated',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '7.0/10'}],
 'Released': '07 Sep 2023',
 'Response': 'True',
 'Runtime': '169 min',
 'Title': 'Jawan',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Sumit Arora, Atlee, Ramanagirivasan',
 'Year': '2023',
 'imdbID': 'tt15354916',
 'imdbRating': '7.0',
 'imdbVotes': '93,441'}

In [11]:
import pandas as pd

In [26]:
movie_list =pd.DataFrame.from_dict(response['results'])

In [27]:
movie_list.shape

(20, 14)