pull data from basic_features.parquet

In [1]:
import pandas as pd
import helpers

In [4]:
basic_movie_info = pd.read_parquet('basic_features.parquet')

In [5]:
basic_movie_info.head()

,budget,id,imdb_id,popularity,revenue,title,release_date,cast_popularity,crew_popularity,star_present
0,10400000,360814,tt5074352,22.057,311000000,Dangal,2016-12-21,68.289,72.850,Yes
1,6087315,132316,tt2176013,9.961,256884693,Jab Tak Hai Jaan,2012-11-13,76.745,35.234,Yes
2,7700000,61202,tt1562872,22.366,160000000,Zindagi Na Milegi Dobara,2011-07-15,77.934,91.112,Yes
3,13000000,348892,tt3863552,16.974,150000000,Bajrangi Bhaijaan,2015-07-17,72.644,114.852,Yes
4,286284,441889,tt6108090,12.123,137416709,Secret Superstar,2017-10-19,33.289,35.091,Yes

In [4]:
pd.DataFrame([helpers.get_features_movie(360814)]
             )

,budget,id,imdb_id,popularity,release_date,revenue,title,cast_popularity,crew_popularity,star_present
0,10400000,360814,tt5074352,26.566,2016-12-21,311000000,Dangal,96.753,79.887,yes